body {
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
}

.information-panel {
    text-align: left;
    margin-bottom: 10px;
}

.information-panel .flagged {
    float: left;
}

.information-panel .restart {
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
}

.information-panel .timer {
    float: right;
}

#board {
    display: inline-block;
    margin: 0 0 2em;
    background: #e6e6ff;
    padding: 1.2em;
    border-radius: 20px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.row {
    font-size: 0px;
}

.field {
    display: inline-block;
    height: 2.3rem;
    width: 2.3rem;
    background-color: #ffffff;
    border-right: 1px solid #00cc00;
    border-bottom: 1px solid #00cc00;
    cursor: pointer;
    vertical-align: top;
    color: #00cc00;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

/*.col.hidden.mine {
    background-color: #ff3377;
}*/

.field.hidden {
    background-color: #e6ffe6;
    cursor: pointer;
}

.field.hidden:hover {
    background-color: #c9ffc9;
}

.field.flagged {
    background-color: #ff33cc !important;
}

.row:last-child .field {
    border-bottom: none;
}

.row .field:last-child {
    border-right: none;
}

.play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    border-radius: 5px;
}

/**
 * Styling for dropdown
 */
.dropbtn {
    background-color: #e6e6ff;
    color: white;
    padding: 16px;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.options {
    border: None;
    display: block;
    border-radius: 25px;
    background-color: #f4f4ff;
}

.option {
    border: None;
    border-radius: 25px;
    background-color: #f4f4ff;
}

/**
 * Styling for score panel
 */
#score {
    padding: 16px;
    border-radius: 25px;
    margin: 2em 0 2em 0;
}

#winnersName {
    color:black;
    font-size: 25px;
}

#finalTime {
    color:black;
    font-size: 25px;
}