/* style.css */

body {
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
}

/*
 * Styling for panels
 */

/*
* Styling for information panel
 */
.information-panel {
    text-align: left;
    margin-bottom: 10px;
}

.information-panel .flagged {
    float: left;
}

.information-panel .restart {
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
}

.information-panel .timer {
    float: right;
}

/*
* Styling for game panel
 */

#board {
    width: calc(16 * 26px);
    margin: 0 0 2em;
    background: #e6e6ff;
    padding: 1.2em;
    border-radius: 20px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

#board .field {
    background-color: #e6ffe6;
    box-sizing: border-box;
    float: left;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#board .field:hover {
    background-color: #c9ffc9 !important;
}

#board .field.open {
    #background-color: #ffffff !important;
    font-size: 20;
    color: #00cc00;
    pointer-events: none;
    opacity: 0.2;
}

#board .field.flagged {
    background-color: #ff33cc !important;
}

#board .field.open.mine {
    background-color: #ff3377;
    opacity: 1;
}

/**
 * Styling for buttons
 */
.play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    border-radius: 5px;
}

/**
 * Styling for dropdown
 */
.dropbtn {
    background-color: #e6e6ff;
    color: white;
    padding: 16px;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.options {
    border: None;
    display: block;
    border-radius: 25px;
    background-color: #f4f4ff;
}

.option {
    border: None;
    border-radius: 25px;
    background-color: #f4f4ff;
}

/**
 * Styling for score panel
 */
#score {
    padding: 16px;
    border-radius: 25px;
    margin: 2em 0 2em 0;
}

#newscore {
    color:black;
    font-size: 25px;
}